eap6/ejb3/src/main/resources/schema/ejb3-legacy-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="urn:jboss:domain:legacy-ejb3:1.0" 
targetNamespace="urn:jboss:domain:legacy-ejb3:1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

    <xs:element name="subsystem" type="subsystemType"/>
    <xs:complexType name="subsystemType">
    	<xs:sequence>
         <xs:element name="jnp-server" minOccurs="1" maxOccurs="1"/>
         <xs:element name="ejb3-registrar" minOccurs="1" maxOccurs="1"/>
       </xs:sequence>
    </xs:complexType>
</xs:schema>
